In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df_course = pd.read_csv('Datasets/courses.csv')

In [10]:
# Menampilkan 5 baris teratas pada Courses
df_course.head()

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

In [11]:
# Menampilkan 5 baris terakhir pada Course
df_course.tail()

   code_module code_presentation  module_presentation_length
17         FFF             2013B                         240
18         FFF             2014B                         241
19         GGG             2013J                         261
20         GGG             2014J                         269
21         GGG             2014B                         241

In [12]:
print("Count missing value: \n")
df_course.isnull().sum()

Count missing value:

code_module                   0
code_presentation             0
module_presentation_length    0
dtype: int64

In [13]:
#Mendeskripsikan secara statistik pada feature numerik
df_course.describe()

       module_presentation_length
count                   22.000000
mean                   255.545455
std                     13.654677
min                    234.000000
25%                    241.000000
50%                    261.500000
75%                    268.000000
max                    269.000000

In [14]:
# Menampilkan struktur dan tipe data pada datasets
df_course.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   code_module                 22 non-null     object
 1   code_presentation           22 non-null     object
 2   module_presentation_length  22 non-null     int64
dtypes: int64(1), object(2)
memory usage: 656.0+ bytes